.form-checkbox {
  font-size: 0.8em;
  padding: 1em 0;
}

.form-checkbox {
  display: flex;
  align-items: center;
}

.form-checkbox input {
  margin-right: 0.5em;
}

.form-checkbox.error {
  color: var(--color-error);
}

.form-checkbox.success {
  color: var(--color-success);
}
